@use '../../../../styles.scss' as s;

/* TIPO DE VISTA */
.vista {
    button {
        padding: 1rem;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    @include s.pc-chico {
        button {
            padding: .5rem;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
/* BARRA DE BUSQUEDA */
.tickets-header {
    flex-direction: column;
    .busqueda {
        width: 28rem;
        margin-bottom: 1rem;
        input, button {
            padding: .5rem;
            font-size: 1.3rem;
        }
    }
    @include s.pc-chico {
        flex-direction: row;
        .busqueda {
            margin: 0;
        }
    }
    .filtros {
        flex-direction: column;
        p {
            margin: 0;
        }
        @include s.pc-chico {
            flex-direction: row;
            gap: 1rem;
        }
        .ng-touched {
            border: 2px solid s.$form-invalid
        }

        .ng-untouched {
            border: 2px solid s.$form-valid;
        }
    }
}
.activo {
    border: 1px solid s.$bg-section-right;
    border-bottom: none;
}
a {
    color: black;
}
.scroll-central {
    height: calc(97vh - 100px); // 100px representa la altura sumada de otros elementos
    overflow-y: auto;
}
