@use '../../../../styles.scss' as s;

nav {
    position: relative;
}
.filtros-tickets {
    display: flex;
    gap: .5rem;
    @include s.pc-grande {
        .filtro-ajuste {
            gap: .5rem;
            display: flex;
        }
    }
}
/* TIPO DE VISTA */
.vista {
    button {
        padding: .7rem;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    @include s.pc-chico {
        button {
            padding: .5rem;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
/* BARRA DE BUSQUEDA */
.tickets-header {
    flex-direction: column;
    .busqueda {
        margin-bottom: 1rem;
        width: 25rem;
        input, button {
            padding: .5rem;
            font-size: 1.3rem;
        }
    }
    @include s.pc-chico {
        flex-direction: row;
        .busqueda {
            margin: 0;
        }
    }
    .filtros {
        flex-direction: column;
        p {
            margin: 0;
        }
        @include s.pc-chico {
            flex-direction: row;
            gap: 1rem;
        }
        .ng-touched {
            border: 2px solid s.$form-invalid
        }

        .ng-untouched {
            border: 2px solid s.$form-valid;
        }
    }
}
.activo {
    border: 1px solid s.$bg-section-right;
    border-bottom: none;
}
a {
    color: black;
}
.scroll-central {
    height: calc(100vh - 5px); // 100px representa la altura sumada de otros elementos
    overflow-y: auto;
    padding: 1rem;
    @include s.pc-mediano {
        height: calc(70vh - 5px);
    }
    @include s.pc-grande {
        height: calc(77vh - 5px); // 100px representa la altura sumada de otros elementos
    }
    @include s.pc-1920 {
        height: calc(84vh - 5px); // 100px representa la altura sumada de otros elementos
    }
}
