
<div class="formulario">
    <form [formGroup]="nuevoTicket" (ngSumbit)="crearTicket()">
        <legend>Creacion de tickets</legend>

        <div class="mb-3 campo-form">
            <label for="asunto">Asunto: </label>
            <input type="text" class="form-control" id="asunto" placeholder="¿Cual es el asunto?"
            formControlName="asunto">
        </div>
        <div class="mb-3 campo-form">
            <label for="seccion">Sección: </label>
            <select id="seccion" class="form-select form-select-lg mb-3"
            formControlName="seccion">
                <option disabled selected id=""> --Seleccione-- </option>
                <option value="">Area de la empresa</option>
            </select>
        </div>
        <div class="mb-3 campo-form">
            <label for="categoria">Categoría: </label>
            <select id="categoria" class="form-select form-select-lg mb-3"
            formControlName="categoria">
                <option disabled selected id=""> --Seleccione-- </option>
                <option value="">Tipo de problema</option>
            </select>
        </div>
        <fieldset class="row mb-3 campo-form">
            <legend class="col-form-label col-sm-2 p-0">Prioridad:</legend>
            <div class="col-sm-10 d-flex gap-5 mt-4">
                <div class="form-check">
                    <label class="form-check-label" for="alta">
                        Alta
                    </label>
                    <input class="form-check-input" type="radio" id="alta" name="prioridad" value=""
                    formControlName="prioridad">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="media">
                        Media
                    </label>
                    <input class="form-check-input" type="radio" id="media"  name="prioridad" value=""
                    formControlName="prioridad">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="baja">
                        Baja
                    </label>
                    <input class="form-check-input" type="radio" id="baja"  name="prioridad" value=""
                    formControlName="prioridad">
                </div>
            </div>
        </fieldset>

        <div class="button">
            <button class="btn btn-outline-primary mt-4">Crear</button>
        </div>
    </form>
</div>
