<div class="tickets-content">
    <div *ngFor="let ticket of tickets"
    class="card-body border border-dark rounded-1 p-0 m-3">
        <div class="card">
            <h3 class="card-header"> {{ticket.asunto}} </h3>
            <div class="ticket-cambios m-auto">
                <p>Cambios:</p>
                <span class="cambios-span"> {{ticket.asunto}} </span>
            </div>
        </div>
        <div class="card">
            <p class="">ticket: <span>#{{ticket.id}} </span></p>
                <div class="d-flex align-items-center justify-content-center m-auto ticket-p" style="width: 90%;">
                    <label for="ּtatus" class="form-label">Status: </label>
                    <p> {{ticket.estatus}} </p>
            </div>
            <div class="d-flex justify-content-evenly ticket-fecha">
                <p class="fecha-creacion">Creación: <span class="d-block"> {{dc}}-{{mc}}-{{yc}} </span></p>
                <p>Modificación: <span class="d-block"> {{dm}}-{{mm}}-{{ym}} </span></p>
            </div>
            <p>Autor: <span> {{ticket.usuario.nombre}} </span></p>
            <div class="d-flex align-items-center justify-content-center m-auto ticket-p" style="width: 90%;">
                <label for="prioridad" class="form-label">Prioridad: </label>
                <p> {{ticket.prioridad?.prioridad}} </p>
            </div>
        </div>
    </div> <!-- end .card-body (ticket individual)-->
</div> <!-- end .tickets-content-->