@use '../../../styles.scss' as s;

.section-right {
    z-index: -1;
    background-color: lighten(s.$bg-infotec-marron, 12);
    height: 70rem;
    margin-top: 3rem;
    overflow-y: auto;

    @include s.pc-mediano {
        height: 100vh;
        margin: 0;
    }
}
.container {
    width: 95%;
    padding: 2rem 0;
}