@use '../../../../styles.scss' as s;
.contenido {
    display: grid;
    background: s.$bg-central;
    
    @include s.pc-mediano {
        grid-template-columns: 1fr 5fr 2fr;
    }
    @include s.pc-1920 {
        grid-template-columns: 1fr 7fr 2fr;
    }
}