@use '.././../../styles.scss' as s;

.section-left {
    background-color: s.$bg-navegacion;

    .ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
        padding: 3rem 0 2rem 0;
        
        @include s.pc-mediano {
            flex-direction: column;
            height: 92.4vh;
            padding: 1rem 0 2rem 0;
        }
        .menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 1rem;

            @include s.tablet {
                grid-template-columns: repeat(3, 1fr);
            }
            
            @include s.pc-mediano {
                grid-template-columns: none;
                padding-top: 2rem;
                
            }
        }
    }
}
li {
    margin-bottom: 2rem;
    a{
        padding: 1.2rem 2.2rem;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
            background: s.$bg-infotec-marron;
        }

        @include s.pc-chico {
            display: block;
            padding: 1rem 4rem;
        }
    }
    @include s.pc-chico {
        margin-bottom: 1rem;
    }
}
.router-active {
    background-color: s.$bg-infotec-marron;   
}
.title {
    color: darken(s.$bg-infotec-marron, 0);
    font-weight: 700;
    text-transform: uppercase;
}