<section class="resumen text-center d-flex flex-column gap-5 m-auto rounded-3 p-4">
    <h2>Resumen de Reporte</h2>

    <div>
        <p class="text-primary fw-bold">Diciembre</p>
        <p>20-11-2023</p>
    </div>

    <div class="d-flex flex-column gap-3">
        <p>Tickets Generados: <span>20</span> </p>
        <p>Tickets sin atender: <span>5</span></p>
        <p>Registros generados: <span>50</span> </p>
        <p>Area más afectada: <span>R.H</span></p>
        <p>Inicio del reporte <span>01-11-2023</span></p>
    </div>

    <button class="btn btn-primary fs-3 py-2"
    (click)="click()">Ver Reporte</button>
</section>