<div class="login">
    <div class="login-content p-4">
        <div class="login-left bd-highlight">
            <img src="../../../../assets/logoInfotec.png" alt="Infotec">
            <div class="login-logos">
                <img src="../../../../assets/gobMxLogo.png" alt="Gobierno de México">
                <img src="../../../../assets/conahcytLogo.png" alt="CONAHCYT">
            </div>
            <h1 class="text-uppercase text-decoration-underline">Mesa de servicio</h1>
        </div>
    
        <form [formGroup]="formLogin" (ngSubmit)="inciarSesion()"
        class="login-right">
            <fieldset>
                <legend>Iniciar Sesión</legend>
                
                <p *ngIf="alert" class="badge bg-danger text-center text-uppercase text-white">Credenciales no válidas</p>
                <p *ngIf="alertGeneral" class="badge bg-danger text-center text-uppercase text-white">{{errorGeneral}}</p>
    
                <div class="alert-error" *ngIf="getUser.invalid && (getUser.dirty || getUser.touched)">
                    *Usuario <span class="alert-link">obligatiorio</span></div>

                <div class="input-group flex-nowrap mb-3">
                    <label for="nombreUsuario" class="input-group-text" id="addon-wrapping"> 
                        <img src="../../../../assets/usuarioLogo.png" alt="Usuario">
                    </label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Ingrese su nombre de usuario"
                    formControlName="nombreUsuario" class="form-control">
                </div>
    
                <div *ngIf="getPass.invalid && (getPass.dirty || getPass.touched)"
                class="alert-error">Contraseña
                    <span class="alert-link">obligatioria</span>
                </div>

                <div class="input-group flex-nowrap mb-3">
                    <label for="contraseña" class="input-group-text" id="addon-wrapping">
                        <img src="../../../../assets/contraseñaLogo.png" alt="Contraseña">
                    </label>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña"
                    formControlName="contraseña" class="form-control" autocomplete="current-password">
                </div>

                <button [disabled]="formLogin.invalid" class="btn btn-success">Ingresar</button>
            </fieldset>
        </form>
    </div> <!-- end .login-content -->
</div>