<div class="form-modificar">
    <form class="m-auto w-auto text-center" [formGroup]="modificarTicket" (ngSubmit)="modificar()">
        <fieldset class="fw-bolder text-center mb-3">Cambios</fieldset>
        
        <h2 class="fs-3 fw-bold"> {{ticket?.asunto}} </h2>

        <p class="my-5 fs-4 text-center">Autor: 
            <span class="text-uppercase fw-bold fs-5" style="color: blue;">
                {{ticket?.usuario?.nombre}} {{ticket?.usuario?.apellidoP}}
            </span>
        </p>
        
        <div class="my-4 div-select m-auto">
            <div class="d-flex justify-content-between align-items-center gap-3 mb-3">
                <label for="prioridad" class="fs-4">Prioridad: </label>
                <select id="prioridad" class="form-select fs-4 border"
                [ngClass]="{'border-danger': ticket?.prioridad.id === 1,
                            'border-warning': ticket?.prioridad.id === 2,
                            'border-info': ticket?.prioridad.id === 3
                        }"
                formControlName="prioridad">
                    <option *ngFor="let prioridad of prioridades" [ngValue]="prioridad.id"> {{prioridad.prioridad}} </option>
                </select>
            </div>
        
            <div class="div-select d-flex justify-content-between align-items-center gap-3">
                <label for="estatus" class="fs-4">Status: </label>
                <select id="estatus" class="form-select fs-4"
                [ngClass]="{'border-danger': ticket?.estatus === 'ABIERTO',
                            'border-warning': ticket?.estatus === 'EN_PROCESO',
                            'border-info': ticket?.estatus === 'CERRADO'
                        }"
                formControlName="estatus">
                    <option value="ABIERTO" disabled>ABIERTO</option>
                    <option value="EN_PROCESO">EN_PROCESO</option>
                    <option value="CERRADO">CERRADO</option>
                </select>
            </div>
        </div>


        <div class="m-auto div-textarea">
            <label for="cambios" class="fs-4">Novedades </label>
            <textarea id="cambios" placeholder="¿Paso algo antes de dar seguimiento?"
            class="d-block m-auto" formControlName="descripcionCambios"> {{ticket?.descripcionCambios}} </textarea>
        </div>

        <div *ngIf="alerta">
            <span class="badge bg-danger mt-4"> Agregue el motivo del cambio </span>
        </div>

        <div class="boton d-flex">
            <button class="btn btn-light border border-dark text-uppercase fw-bolder"
            [disabled]="modificarTicket.invalid">
                Enviar cambios
            </button>
        </div>
    </form>
</div>
