<div *ngFor="let registro of registros" >
    <div class="registro rounded-3 mb-5" [ngClass]="{'no-atiende': atiende(registro.id, registro)}">
        <div class="registro-datos">
            <div class="datos-id">
                <p>#{{registro.id}}</p>
            </div>
            <div class="datos-cambios">
                <p class="cambios fw-bold">Cambios: </p>
                <div class="cambios-texto">
                    <p>{{registro.cambios}}</p>
                </div>
            </div>
            <div class="fecha">
                <p class="date">{{registro.fecha | date:'dd/MM/yyyy'}} - <span>{{registro.fecha | date: 'hh:mm:ss'}}</span></p>
                <div class="datos-modifico">
                    <p>Modifico: <span class="fw-bold">{{registro.modifico.perfil?.nombre}} {{registro.modifico.perfil?.apellidoP}}</span></p>
                </div>
                <div class="datos-estatus d-flex flex-column gap-2">
                    <p class="fw-bold" [ngClass]="{
                        'text-danger': registro.prioridad.prioridad === 'Alta',
                        'text-warning': registro.prioridad.prioridad === 'Media',
                        'text-info': registro.prioridad.prioridad === 'Baja'
                    }">{{registro.prioridad.prioridad | uppercase}}</p>
                    <p>{{registro.estatus}}</p>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="registro-ticket">
            <p>Ticket: <span class="text-primary fw-bold">#{{registro.ticket.id}}</span></p>
            <p class="fw-bold">Autor: <span class="fw-normal">{{registro.ticket.autor?.perfil?.nombre}} {{registro.ticket.autor?.perfil?.apellidoP}}</span></p>
            <p [ngClass]="{'text-danger': atiende(registro.id, registro)}" class="fw-bold">Atiende: 
                <span *ngIf="!atiende(registro.id, registro); else a"class="fw-normal">
                    {{registro.ticket.asignado?.perfil?.nombre}} {{registro.ticket.asignado?.perfil?.apellidoP}}</span>
                <ng-template #a> <span> - - </span> </ng-template>
            </p>
        </div>
    </div>
</div>