<main class="container">

    <!-- Busqueda de usuarios -->
    <div class="d-flex filtros my-3">
        <div class="busqueda-filtros d-flex gap-3">
            <div class="input-group busqueda">
                <input type="text" class="form-control" placeholder="Nombre, Apellido, Usuario"
                    [ngClass]="{'ng-untouched': busquedaInput === ''}" aria-label="Nombre de usuario del destinatario"
                    [(ngModel)]="busquedaInput" (keyup.enter)="busqueda()">
                <button class="btn btn-outline-secondary" (click)="busqueda()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="14" height="14"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div> <!-- end .busqueda -->
            <p class="text-danger fs-5 fw-bolder" *ngIf="busquedaInput !== ''">
                * La barra debe estar vacía para <span class="d-block"> obtener <u class="text-uppercase">todos</u> los
                    resultados *</span>
            </p>
        </div>
        <div class="rol-estatus d-flex">
            <div class="rol d-flex align-items-center gap-2">
                <p>Rol: </p>
                <select class="form-select" [ngClass]="rolTextinput === 'ALL' ? 'ng-untouched' : ''"
                [(ngModel)]="rolTextinput" (ngModelChange)="aplicarFiltro()">
                    <option value="">ALL</option>
                    <option *ngFor="let rol of roles" [ngValue]="rol.rolName"> {{rol.rolName}} </option>
                </select>
            </div>
            <div class="estatus d-flex align-items-center gap-2">
                <p>Estatus: </p>
                <select class="form-select" [ngClass]="estatusTextInput === 'ALL' ? 'ng-untouched' : ''" 
                [(ngModel)]="estatusTextInput" (ngModelChange)="aplicarFiltro()">
                    <option value="">ALL</option>
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select>
            </div>
        </div>
    </div>

    <div class="scroll-central">
        <table class="tabla table table-striped table-hover">
            <!-- Encabezado -->
            <thead class="tabla-encabezado">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>

            <!-- Cuerpo -->
            <tbody class="tabla-cuerpo">
                    <ng-container *ngFor="let cuenta of cuentas">
                        <!-- Fila principal -->
                        <tr [ngClass]="cuenta.perfil.estatus === 'INACTIVO' ? 'table-danger inactivo' : ''" 
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + cuenta.perfil.id" aria-expanded="false"
                        [attr.aria-controls]="'collapse' + cuenta.perfil.id">
                            <td scope="row">
                                <div>
                                    <p>{{cuenta.perfil.nombre}}</p>
                                    <p>{{cuenta.perfil.apellidoP}} {{cuenta.perfil.apellidoM}}</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{{cuenta.perfil.telefono}}</p>
                                    <p>{{cuenta.perfil.correo}}</p>
                                </div>
                            </td>
                            <td class="estatus">
                                <div class="">
                                    <p class="fw-bold" [ngClass]="cuenta.perfil.estatus === 'ACTIVO' ? 'text-success' : 'text-danger'">
                                        {{cuenta.perfil.estatus}}
                                    </p>
                
                                </div>
                            </td>
                        </tr>
                        
                        <!-- Acordeón para cada fila -->
                        <tr [ngClass]="cuenta.perfil.estatus === 'INACTIVO' ? 'table-danger' : ''" class="border-0">
                            <td colspan="3" class="border-0 p-3">
                                
                                <div id="{{'collapse' + cuenta.perfil.id}}" class="accordion-collapse collapse"
                                [attr.aria-labelledby]="'heading' + cuenta.perfil.id" data-bs-parent="#accordionFlushExample">

                                <div class="accordion-body d-flex justify-content-between desglosado">

                                    <p>Usuario: <span class="fw-bold"
                                    [ngClass]="cuenta.perfil.estatus === 'ACTIVO' ? 'text-primary' : 'text-danger'">
                                        {{cuenta.nombreUsuario}}</span></p>

                                    <p>Rol: <span class="fw-bold"
                                    [ngClass]="cuenta.perfil.estatus !== 'ACTIVO' ? 'text-danger' : 'text-primary'">
                                        {{cuenta.role}}</span></p> 

                                    <button class="btn btn-primary fw-bold"
                                    (click)="modificar(cuenta.id)">
                                        Modificar
                                    </button>

                                    <button class="btn fw-bold" [ngClass]="cuenta.perfil.estatus === 'ACTIVO' ? 'btn-danger': 'btn-success'"
                                        (click)="cambiarEstatus(cuenta.perfil.estatus, cuenta.perfil.id)">
                                        {{cuenta.perfil.estatus === 'ACTIVO' ? 'Desactivar' : 'Activar'}}
                                    </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal" [ngClass]="modal ? 'grid' : ''">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header px-3">
                <strong class="me-auto fs-4">Mensaje</strong>
                <button class="btn-close fs-4" (click)="cerrarToast()"></button>
            </div>
            <div class="toast-body">
                <p>¡{{mensaje}}!</p>
                <div class="mt-3" *ngIf="actualizado">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="36" height="36"
                        viewBox="0 0 24 24" stroke-width="2.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M9 12l2 2l4 -4" />
                    </svg>
                </div>
                <div class="mt-3" *ngIf="!actualizado">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="36" height="36"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M10 10l4 4m0 -4l-4 4" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>
