<main class="container">
    <table class="tabla table table-striped">
        <!-- Encabezado -->
        <thead class="tabla-encabezado">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Contacto</th>
                <th scope="col">Estatus</th>
            </tr>
        </thead>

        <!-- Cuerpo -->
        <tbody class="tabla-cuerpo">
            <tr *ngFor="let perfil of perfiles"
            [ngClass]="perfil.estatus === 'INACTIVO' ? 'table-danger' : ''">
                <td scope="row">
                    <div>
                        <p>{{perfil.nombre}}</p>
                        <p>{{perfil.apellidoP}} {{perfil.apellidoM}}</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>{{perfil.telefono}}</p>
                        <p>{{perfil.correo}}</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p class="fw-bold" 
                        [ngClass]="perfil.estatus === 'ACTIVO' ? 'text-success' : 'text-danger'">
                            {{perfil.estatus}}
                        </p> 

                        <button class="btn"
                        [ngClass]="perfil.estatus === 'ACTIVO' ? 'btn-danger': 'btn-success'"
                        (click)="cambiarEstatus(perfil.estatus, perfil.id)">
                            {{perfil.estatus === 'ACTUVO' ? 'Desactivar' : 'Activar'}}
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal" [ngClass]="modal ? 'grid' : ''">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header px-3">
                <strong class="me-auto fs-4">Mensaje</strong>
                <button class="btn-close fs-4" (click)="cerrarToast()"></button>
            </div>
            <div class="toast-body">
                <p>¡{{mensaje}}!</p>
                <div class="mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="36" height="36"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M10 10l4 4m0 -4l-4 4" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>
