@use '../../../../styles.scss' as s;

.activo {
    border: 1px solid s.$bg-section-right;
    border-bottom: none;
}

a {
    color: black;
}

.scroll-central {
    height: calc(102vh - 100px);
    overflow-y: auto;
    @include s.tablet {
        height: calc(71vh - 100px);
        
    }
    @include s.pc-mediano {
        height: calc(102vh - 100px);
    }
}