.sin-tickets {
    display: grid;
    align-content: center;
    justify-content: center;
}
.ticket-img {
    .img {
        width: 35rem;
        margin: auto;
        border-radius: 15px;
    }
}
.btn {
    font-size: 1.7rem;
    padding: .5rem;
    font-weight: bold;
    text-transform: uppercase;
}